<h1>Profiling a country specific unemployment dataset for Canada, creating an reasonable binary classification threshold, and running classifcation models<h1>
<h3>Ada boost may be a reasonable choice of model based on comparison of different modeling options</h3>

In [1]:
from pycaret.classification import *

In [2]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport

In [3]:
df2 = pd.read_csv("https://raw.githubusercontent.com/rmikula-gmu/cs504_test1_medium_tutorial/main/CS504%20Final%20Datasets%20Revised/US%20Master%20Dataset.csv")

In [4]:
df2=df2.replace(",", "", regex=True) #Reference https://stackoverflow.com/questions/67905780/removing-comma-from-values-in-column-csv-file-using-python-pandas
df2

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total
0,1/1/2020,United States,Alabama,12819,0.98,0,3876526,56.3,2180872,57.8,2.7,59405
1,1/1/2020,United States,Alaska,4536,3.17,0,546109,61.5,335692,64.7,5.0,17657
2,1/1/2020,United States,Arizona,15413,0.64,1,5802213,58.8,3409624,61.7,4.8,171670
3,1/1/2020,United States,Arkansas,8481,1.18,0,2353674,56.2,1322159,58.3,3.7,50132
4,1/1/2020,United States,California,199167,2.07,0,39118595,60.2,23556224,63.0,4.4,1073820
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,9/1/2021,United States,Virginia,34680,1.18,99486,6758326,60.4,4084410,62.8,3.8,159786
1067,9/1/2021,United States,Washington,20597,2.01,94585,6181559,60.6,3742966,63.7,4.9,193976
1068,9/1/2021,United States,West Virginia,3813,1.37,50769,1435988,52.6,755769,55.1,4.6,36028
1069,9/1/2021,United States,Wisconsin,26324,1.45,76224,4677059,64.0,2993017,66.6,3.9,121372
1070,9/1/2021,United States,Wyoming,1189,0.59,15466,458391,61.2,280427,64.1,4.5,13227

In [5]:
df2.shape

(1071, 12)

In [6]:
df2.fillna('0')

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total
0,1/1/2020,United States,Alabama,12819,0.98,0,3876526,56.3,2180872,57.8,2.7,59405
1,1/1/2020,United States,Alaska,4536,3.17,0,546109,61.5,335692,64.7,5.0,17657
2,1/1/2020,United States,Arizona,15413,0.64,1,5802213,58.8,3409624,61.7,4.8,171670
3,1/1/2020,United States,Arkansas,8481,1.18,0,2353674,56.2,1322159,58.3,3.7,50132
4,1/1/2020,United States,California,199167,2.07,0,39118595,60.2,23556224,63.0,4.4,1073820
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,9/1/2021,United States,Virginia,34680,1.18,99486,6758326,60.4,4084410,62.8,3.8,159786
1067,9/1/2021,United States,Washington,20597,2.01,94585,6181559,60.6,3742966,63.7,4.9,193976
1068,9/1/2021,United States,West Virginia,3813,1.37,50769,1435988,52.6,755769,55.1,4.6,36028
1069,9/1/2021,United States,Wisconsin,26324,1.45,76224,4677059,64.0,2993017,66.6,3.9,121372
1070,9/1/2021,United States,Wyoming,1189,0.59,15466,458391,61.2,280427,64.1,4.5,13227

In [ ]:
profile = ProfileReport(df2, title="US Unemployment")
profile

In [ ]:
profile.to_file("US_Unemployment.html")

In [7]:
df2["Avg Percent of Population"]

0       57.8
1       64.7
2       61.7
3       58.3
4       63.0
        ...
1066    62.8
1067    63.7
1068    55.1
1069    66.6
1070    64.1
Name: Avg Percent of Population, Length: 1071, dtype: float64

<h3>Use a classification binary cutoff based on Average Employed Rate</h3>

In [8]:
#https://www.geeksforgeeks.org/ways-to-apply-an-if-condition-in-pandas-dataframe/

df2.loc[df2["Avg Percent of Population"] >= 62, 'HighEmp'] = 'True'
df2.loc[df2["Avg Percent of Population"] < 62, 'HighEmp'] = 'False'
df2

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total,HighEmp
0,1/1/2020,United States,Alabama,12819,0.98,0,3876526,56.3,2180872,57.8,2.7,59405,False
1,1/1/2020,United States,Alaska,4536,3.17,0,546109,61.5,335692,64.7,5.0,17657,True
2,1/1/2020,United States,Arizona,15413,0.64,1,5802213,58.8,3409624,61.7,4.8,171670,False
3,1/1/2020,United States,Arkansas,8481,1.18,0,2353674,56.2,1322159,58.3,3.7,50132,False
4,1/1/2020,United States,California,199167,2.07,0,39118595,60.2,23556224,63.0,4.4,1073820,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,9/1/2021,United States,Virginia,34680,1.18,99486,6758326,60.4,4084410,62.8,3.8,159786,True
1067,9/1/2021,United States,Washington,20597,2.01,94585,6181559,60.6,3742966,63.7,4.9,193976,True
1068,9/1/2021,United States,West Virginia,3813,1.37,50769,1435988,52.6,755769,55.1,4.6,36028,False
1069,9/1/2021,United States,Wisconsin,26324,1.45,76224,4677059,64.0,2993017,66.6,3.9,121372,True
1070,9/1/2021,United States,Wyoming,1189,0.59,15466,458391,61.2,280427,64.1,4.5,13227,True

In [9]:
df2["HighEmp"].describe()

count     1071
unique       2
top       True
freq       566
Name: HighEmp, dtype: object

In [10]:
from pycaret.classification import *

In [11]:
#Best to use datetime.strptime here
train=df2[1:714]
test=df2[715:]
train

,Date,Country,State,Initial Claims,Avg Insured Unemployment Rate,Monthly new case,Civilian noninstitutional population,Avg Employed Percent of Population,Employed Total,Avg Percent of Population,Avg Unemployed Percent of Labor Force,Unemployed Total,HighEmp
1,1/1/2020,United States,Alaska,4536,3.17,0,546109,61.5,335692,64.7,5.0,17657,True
2,1/1/2020,United States,Arizona,15413,0.64,1,5802213,58.8,3409624,61.7,4.8,171670,False
3,1/1/2020,United States,Arkansas,8481,1.18,0,2353674,56.2,1322159,58.3,3.7,50132,False
4,1/1/2020,United States,California,199167,2.07,0,39118595,60.2,23556224,63.0,4.4,1073820,True
5,1/1/2020,United States,Colorado,10118,0.82,0,4584112,67.0,3070164,68.8,2.7,84380,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,2/1/2021,United States,Virginia,53203,1.75,69534,6740927,59.6,4016894,62.8,5.2,219727,True
710,2/1/2021,United States,Washington,58545,4.43,27424,6140754,59.0,3621472,62.5,5.6,215552,True
711,2/1/2021,United States,West Virginia,15812,3.49,10854,1439233,51.9,746406,55.3,6.2,49663,False
712,2/1/2021,United States,Wisconsin,60850,3.80,25227,4665137,63.1,2942857,65.6,3.8,116563,True
713,2/1/2021,United States,Wyoming,3845,2.17,2482,456315,61.3,279794,64.7,5.3,15591,True

In [12]:
s = setup(data = train, test_data = test, ignore_features=['Avg Percent of Population'],
          target = 'HighEmp', fold_strategy = 'timeseries', fold = 3, session_id = 124)

In [ ]:
#https://towardsdatascience.com/time-series-forecasting-with-pycaret-regression-module-237b703a0c63
best = compare_models()

In [13]:
ada=create_model("ada")
prediction_holdout = predict_model(ada)

<h3>About 91% accuracy on training data, 96% accuracy on test fior ada boost</h3>

In [14]:
%matplotlib inline
evaluate_model(ada)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [ ]:
#prediction_holdout = predict_model(best);

In [ ]:
#TO DO Debug the tuning command tuned_knn = tune_model('knn')